## Credit Card Risk Assessment

In [1]:
import pandas as pd

In [3]:
credit_df=pd.read_csv('Credit_default_dataset.csv')
credit_df.head()

   ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default.payment.next.month
0   1    20000.0    2  ...       0.0       0.0                           1
1   2   120000.0    2  ...       0.0    2000.0                           1
2   3    90000.0    2  ...    1000.0    5000.0                           0
3   4    50000.0    2  ...    1069.0    1000.0                           0
4   5    50000.0    1  ...     689.0     679.0                           0

[5 rows x 25 columns]

In [4]:
#We don't need the ID column,so lets drop it.
credit_df = credit_df.drop(["ID"],axis=1)

In [5]:
#changing the name of  pay_0 column to pay_1 to make the numbering correct
credit_df.rename(columns={'PAY_0':'PAY_1'}, inplace=True)

In [6]:
credit_df.head(10)

   LIMIT_BAL  SEX  EDUCATION  ...  PAY_AMT5  PAY_AMT6  default.payment.next.month
0    20000.0    2          2  ...       0.0       0.0                           1
1   120000.0    2          2  ...       0.0    2000.0                           1
2    90000.0    2          2  ...    1000.0    5000.0                           0
3    50000.0    2          2  ...    1069.0    1000.0                           0
4    50000.0    1          2  ...     689.0     679.0                           0
5    50000.0    1          1  ...    1000.0     800.0                           0
6   500000.0    1          1  ...   13750.0   13770.0                           0
7   100000.0    2          2  ...    1687.0    1542.0                           0
8   140000.0    2          3  ...    1000.0    1000.0                           0
9    20000.0    1          3  ...    1122.0       0.0                           0

[10 rows x 24 columns]

In [7]:
#Removing Unwanted categorical levels as mentioned in data exploration
credit_df['EDUCATION'].value_counts()

2    14030
1    10585
3     4917
5      280
4      123
6       51
0       14
Name: EDUCATION, dtype: int64

## Data Preprocessing Steps

In [8]:
### 1=school 2=high school 3=graduation 4=post graduation
### 5,6,0 information is not given so we are mapping it to 4 based on assumption 
credit_df["EDUCATION"]=credit_df["EDUCATION"].map({0:4,1:1,2:2,3:3,4:4,5:4,6:4})
credit_df["MARRIAGE"]=credit_df["MARRIAGE"].map({0:3,1:1,2:2,3:3})

In [9]:
from sklearn.preprocessing import StandardScaler
scaling=StandardScaler()
X=credit_df.drop(['default.payment.next.month'],axis=1)
X=scaling.fit_transform(X)

In [10]:
y=credit_df['default.payment.next.month']

In [11]:
## Hyper Parameter Optimization

params={
 "learning_rate"    : [0.05, 0.10, 0.15, 0.20, 0.25, 0.30 ] ,
 "max_depth"        : [ 3, 4, 5, 6, 8, 10, 12, 15],
 "min_child_weight" : [ 1, 3, 5, 7 ],
 "gamma"            : [ 0.0, 0.1, 0.2 , 0.3, 0.4 ],
 "colsample_bytree" : [ 0.3, 0.4, 0.5 , 0.7 ]
    
}

In [12]:
## Hyperparameter optimization using RandomizedSearchCV
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
import xgboost

In [13]:
def timer(start_time=None):
    if not start_time:
        start_time = datetime.now()
        return start_time
    elif start_time:
        thour, temp_sec = divmod((datetime.now() - start_time).total_seconds(), 3600)
        tmin, tsec = divmod(temp_sec, 60)
        print('\n Time taken: %i hours %i minutes and %s seconds.' % (thour, tmin, round(tsec, 2)))

In [14]:
classifier=xgboost.XGBClassifier()

In [17]:
random_search=RandomizedSearchCV(classifier,param_distributions=params,n_iter=5,scoring='roc_auc',n_jobs=1,cv=5,verbose=3)

In [18]:
from datetime import datetime
# Here we go
start_time = timer(None) # timing starts from this point for "start_time" variable
random_search.fit(X,y)
timer(start_time) # timing ends here for "start_time" variable

Fitting 5 folds for each of 5 candidates, totalling 25 fits
[CV] min_child_weight=1, max_depth=3, learning_rate=0.3, gamma=0.0, colsample_bytree=0.3

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV]  min_child_weight=1, max_depth=3, learning_rate=0.3, gamma=0.0, colsample_bytree=0.3, score=0.755, total=   1.3s
[CV] min_child_weight=1, max_depth=3, learning_rate=0.3, gamma=0.0, colsample_bytree=0.3

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.3s remaining:    0.0s

[CV]  min_child_weight=1, max_depth=3, learning_rate=0.3, gamma=0.0, colsample_bytree=0.3, score=0.753, total=   1.1s
[CV] min_child_weight=1, max_depth=3, learning_rate=0.3, gamma=0.0, colsample_bytree=0.3

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    2.4s remaining:    0.0s

[CV]  min_child_weight=1, max_depth=3, learning_rate=0.3, gamma=0.0, colsample_bytree=0.3, score=0.787, total=   1.1s
[CV] min_child_weight=1, max_depth=3, learning_rate=0.3, gamma=0.0, colsample_bytree=0.3
[CV]  min_child_weight=1, max_depth=3, learning_rate=0.3, gamma=0.0, colsample_bytree=0.3, score=0.798, total=   1.1s
[CV] min_child_weight=1, max_depth=3, learning_rate=0.3, gamma=0.0, colsample_bytree=0.3
[CV]  min_child_weight=1, max_depth=3, learning_rate=0.3, gamma=0.0, colsample_bytree=0.3, score=0.794, total=   1.1s
[CV] min_child_weight=7, max_depth=8, learning_rate=0.05, gamma=0.0, colsample_bytree=0.4
[CV]  min_child_weight=7, max_depth=8, learning_rate=0.05, gamma=0.0, colsample_bytree=0.4, score=0.758, total=   3.8s
[CV] min_child_weight=7, max_depth=8, learning_rate=0.05, gamma=0.0, colsample_bytree=0.4
[CV]  min_child_weight=7, max_depth=8, learning_rate=0.05, gamma=0.0, colsample_bytree=0.4, score=0.756, total=   3.7s
[CV] min_child_weight=7, max_depth=8, learning_rate=0.05, gamma=0.0, colsample_bytree=0.4
[CV]  min_child_weight=7, max_depth=8, learning_rate=0.05, gamma=0.0, colsample_bytree=0.4, score=0.794, total=   3.8s
[CV] min_child_weight=7, max_depth=8, learning_rate=0.05, gamma=0.0, colsample_bytree=0.4
[CV]  min_child_weight=7, max_depth=8, learning_rate=0.05, gamma=0.0, colsample_bytree=0.4, score=0.804, total=   3.7s
[CV] min_child_weight=7, max_depth=8, learning_rate=0.05, gamma=0.0, colsample_bytree=0.4
[CV]  min_child_weight=7, max_depth=8, learning_rate=0.05, gamma=0.0, colsample_bytree=0.4, score=0.802, total=   3.7s
[CV] min_child_weight=5, max_depth=8, learning_rate=0.1, gamma=0.4, colsample_bytree=0.3
[CV]  min_child_weight=5, max_depth=8, learning_rate=0.1, gamma=0.4, colsample_bytree=0.3, score=0.757, total=   2.7s
[CV] min_child_weight=5, max_depth=8, learning_rate=0.1, gamma=0.4, colsample_bytree=0.3
[CV]  min_child_weight=5, max_depth=8, learning_rate=0.1, gamma=0.4, colsample_bytree=0.3, score=0.753, total=   2.7s
[CV] min_child_weight=5, max_depth=8, learning_rate=0.1, gamma=0.4, colsample_bytree=0.3
[CV]  min_child_weight=5, max_depth=8, learning_rate=0.1, gamma=0.4, colsample_bytree=0.3, score=0.787, total=   2.7s
[CV] min_child_weight=5, max_depth=8, learning_rate=0.1, gamma=0.4, colsample_bytree=0.3
[CV]  min_child_weight=5, max_depth=8, learning_rate=0.1, gamma=0.4, colsample_bytree=0.3, score=0.803, total=   2.7s
[CV] min_child_weight=5, max_depth=8, learning_rate=0.1, gamma=0.4, colsample_bytree=0.3
[CV]  min_child_weight=5, max_depth=8, learning_rate=0.1, gamma=0.4, colsample_bytree=0.3, score=0.795, total=   2.7s
[CV] min_child_weight=1, max_depth=15, learning_rate=0.1, gamma=0.4, colsample_bytree=0.4
[CV]  min_child_weight=1, max_depth=15, learning_rate=0.1, gamma=0.4, colsample_bytree=0.4, score=0.747, total=   7.5s
[CV] min_child_weight=1, max_depth=15, learning_rate=0.1, gamma=0.4, colsample_bytree=0.4
[CV]  min_child_weight=1, max_depth=15, learning_rate=0.1, gamma=0.4, colsample_bytree=0.4, score=0.746, total=   7.4s
[CV] min_child_weight=1, max_depth=15, learning_rate=0.1, gamma=0.4, colsample_bytree=0.4
[CV]  min_child_weight=1, max_depth=15, learning_rate=0.1, gamma=0.4, colsample_bytree=0.4, score=0.774, total=   7.5s
[CV] min_child_weight=1, max_depth=15, learning_rate=0.1, gamma=0.4, colsample_bytree=0.4
[CV]  min_child_weight=1, max_depth=15, learning_rate=0.1, gamma=0.4, colsample_bytree=0.4, score=0.795, total=   7.3s
[CV] min_child_weight=1, max_depth=15, learning_rate=0.1, gamma=0.4, colsample_bytree=0.4
[CV]  min_child_weight=1, max_depth=15, learning_rate=0.1, gamma=0.4, colsample_bytree=0.4, score=0.783, total=   7.4s
[CV] min_child_weight=3, max_depth=4, learning_rate=0.05, gamma=0.4, colsample_bytree=0.3
[CV]  min_child_weight=3, max_depth=4, learning_rate=0.05, gamma=0.4, colsample_bytree=0.3, score=0.755, total=   1.4s
[CV] min_child_weight=3, max_depth=4, learning_rate=0.05, gamma=0.4, colsample_bytree=0.3
[CV]  min_child_weight=3, max_depth=4, learning_rate=0.05, gamma=0.4, colsample_bytree=0.3, score=0.755, total=   1.4s
[CV] min_child_weight=3, max_depth=4, learning_rate=0.05, gamma=0.4, colsample_bytree=0.3
[CV]  min_child_weight=3, max_depth=4, learning_rate=0.05, gamma=0.4, colsample_bytree=0.3, score=0.792, total=   1.4s
[CV] min_child_weight=3, max_depth=4, learning_rate=0.05, gamma=0.4, colsample_bytree=0.3
[CV]  min_child_weight=3, max_depth=4, learning_rate=0.05, gamma=0.4, colsample_bytree=0.3, score=0.800, total=   1.4s
[CV] min_child_weight=3, max_depth=4, learning_rate=0.05, gamma=0.4, colsample_bytree=0.3
[CV]  min_child_weight=3, max_depth=4, learning_rate=0.05, gamma=0.4, colsample_bytree=0.3, score=0.800, total=   1.4s

[Parallel(n_jobs=1)]: Done  25 out of  25 | elapsed:  1.4min finished

 Time taken: 0 hours 1 minutes and 26.57 seconds.

In [19]:
random_search.best_estimator_

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.4, gamma=0.0,
              learning_rate=0.05, max_delta_step=0, max_depth=8,
              min_child_weight=7, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [20]:
random_search.best_params_

{'colsample_bytree': 0.4,
 'gamma': 0.0,
 'learning_rate': 0.05,
 'max_depth': 8,
 'min_child_weight': 7}

In [21]:
classifier=xgboost.XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.4, gamma=0.1, learning_rate=0.25,
       max_delta_step=0, max_depth=3, min_child_weight=7, missing=None,
       n_estimators=100, n_jobs=1, nthread=None,
       objective='binary:logistic', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=True,
       subsample=1)

In [22]:
from sklearn.model_selection import cross_val_score
score=cross_val_score(classifier,X,y,cv=10)

In [23]:
score

array([0.80666667, 0.80866667, 0.81566667, 0.807     , 0.817     ,
       0.827     , 0.836     , 0.83133333, 0.82833333, 0.825     ])

In [24]:
score.mean()

0.8202666666666666